
<div class="profile">
  <div class= 'profile-head'>
    <h1>My Profile</h1>

    <p><%= current_user.first_name%> <%= current_user.last_name%></p>


  </div>
  <div>
    <% current_user.motorcycles.each do |motorcycle| %>

    <%= render 'motorcycles/card_motorcycle', motorcycle: motorcycle %>
    <%= link_to 'Destroy', motorcycle, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end%>

  </div>
  <div>
    <%= link_to "Add new motorcycle", new_motorcycle_path %>
    </div>





