
<div class="profile">
  <div class= 'profile-head'>
    <h1>My Profile</h1>

    <p><%= current_user.first_name%> <%= current_user.last_name%></p>

    <h2>My reservations</h2>
    <div class='container'>

      <div class="row">

          <% current_user.reservations.each do |reservation| %>
          <div class="col-xs-12 col-md-4"  >
          <p><%= reservation.motorcycle.name %></p>
          <p><%= reservation.starting_date %></p>
          <p><%= reservation.ending_date %></p>
          <%= link_to 'Cancel Reservation', remove_reservation_path(reservation), method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end%>
      </div>
    </div>


    <h2>Motorcycles I have for rent</h2>
    <div class='container'>

      <div class="row">
          <% current_user.motorcycles.each do |motorcycle| %>
          <div class="col-xs-12 col-md-4"  >
          <%= render 'motorcycles/card_motorcycle', motorcycle: motorcycle %>
          <%= link_to 'Remove Listing', motorcycle, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end%>
      </div>
    </div>


    <div>
      <%= link_to "Add new motorcycle", new_motorcycle_path %>
    </div>

  </div>
</div>



