<div class="profile">
  <div class= 'profile-head'>
    <h1>My Profile</h1>

    <p><%= current_user.first_name%> <%= current_user.last_name%></p>


    <div class='container'>
      <h2>My upcoming reservations</h2>
      <div class="row">
        <% current_user.reservations.each do |reservation| %>
        <% if reservation.ending_date > Date.today %>
        <div class="col-xs-12 col-md-4"  >
          <% motorcycle = reservation.motorcycle %>
          <%= render 'motorcycles/card_motorcycle_for_profile', motorcycle: motorcycle %>
          <%= reservation.starting_date %> until <%= reservation.ending_date %>
          <p><%= link_to 'Cancel Reservation', remove_reservation_path(reservation), method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
        <%end%>
        <% end%>
      </div>
    </div>


    <div class='container'>
      <h2>My reservations history</h2>
      <div class="row">
        <% current_user.reservations.each do |reservation| %>
        <% if reservation.ending_date < Date.today %>
        <div class="col-xs-12 col-md-4"  >
          <% motorcycle = reservation.motorcycle %>
          <%= render 'motorcycles/card_motorcycle_for_profile', motorcycle: motorcycle %>
          <%= reservation.starting_date %> until <%= reservation.ending_date %>
          <% if reservation.review.nil? %>
          <p><%= link_to 'Add Testimonial', new_reservation_review_path(reservation.id) %></p>
          <% else %>
          <p><%= link_to 'View your review', motorcycle_path(reservation.motorcycle) %></p>
          <% end %>
        </div>
        <%end%>
        <% end%>
      </div>
    </div>

    <h2>Motorcycles I have for rent</h2>
    <div class='container'>
      <div>
        <%= link_to "Add new motorcycle", new_motorcycle_path %>
      </div>
      <div class="row">
        <% current_user.motorcycles.each do |motorcycle| %>
        <div class="col-xs-12 col-md-4"  >
          <%= render 'motorcycles/card_motorcycle_for_profile', motorcycle: motorcycle %>
          <%= link_to 'Remove Listing', motorcycle, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <% end%>
      </div>
    </div>



  </div>
</div>



