<div class="card-motorcycle-wrapper">
  <%= link_to motorcycle_path(motorcycle) do %>
    <div class="card-motorcycle">
      <% if motorcycle.photos.empty? %>
        <%= cl_image_tag("default-img_hn54at", width: 750, height: 500, crop: :fill) %>
      <% else %>
        <%= cl_image_tag(motorcycle.photos[0].path, width: 750, height: 500, crop: :fill) %>
      <%end%>

      <!-- Owner avatar -->
      <%= link_to profiles_path(motorcycle.user) do %>
        <div class="avatar-container">
          <%= cl_image_tag("default-img_hn54at", width: 50, height: 50, crop: :fill) %>
        </div>
      <% end %>

      <div class="motorcycle-info">
        <p class="motorcycle-info-main"><strong>&#8364;<span class="motorcycle-price"><%= motorcycle.price %></span></strong><%= motorcycle.name %></p>
        <p class="motorcycle-info-secondary">Model: <%= motorcycle.model %>, brand: <%= motorcycle.brand %></p>
      </div>
    </div>
  <% end %>
</div>
