<%= simple_form_for @motorcycle do |f| %>
  <h2>Motorcycle information</h2>
  <%= f.input :name, placeholder: "Enter a cool name!" %>
  <%= f.input :description, placeholder: "Describe your motorcycle" %>
  <%= f.input :brand, placeholder: "Brand" %>
  <%= f.input :model, placeholder: "Model" %>
  <%= f.input :year, placeholder: "Build year" %>
  <%= f.input :license_plate, placeholder: "License plate"%>
  <hr>
  <h2>Photos</h2>
  <%= f.input :photos, as: :attachinary %>
  <hr>
  <h2>Location</h2>
  <div id="locationField" class="border-radius-left">
    <%= f.input :address, label: "Address", input_html: { id: "autocomplete", onFocus: "geolocate()" } %>
  </div>
  <hr>
  <h2>Pricing</h2>
  <%= f.input :price, label: "Price" %>
  <%= f.button :submit %>
<% end %>
