<h1>Motorcycles available in your area</h1>


<div>
  <% @motorcycles.each do |motorcycle| %>
  <% if motorcycle.availability == true %>
  <h2><%= link_to motorcycle.name, motorcycle_path(motorcycle) %></h2>
  <p><%= motorcycle.model%> - <%=motorcycle.brand%></p>
  <p><%= motorcycle.price%> </p>
  <% else %>
  <%= %>
  <% end %>
  <% end %>
</div>
