<h1><%= @motorcycle.user.first_name%>'s <%=@motorcycle.brand%></h1>


<p><%= @motorcycle.description %></p>
 <p><%= @motorcycle.name %></p>


  <%= render 'reservations/form' %>

 <p><%= @motorcycle.brand %></p>
<p><%= @motorcycle.model %></p>
<p><%= @motorcycle.year %></p>
<p><%= @motorcycle.price %></p>
<p><%= @motorcycle.city %></p>
<p><%= @motorcycle.address %></p>
<p>Registration: <%= @motorcycle.license_plate %></p>

