<h1>Motorcycles#show</h1>
<p>Find me in app/views/motorcycles/show.html.erb</p>

 <p><%= @motorcycle.name %></p>
 <p><%= @motorcycle.brand %></p>
<p><%= @motorcycle.model %></p>
<p><%= @motorcycle.year %></p>
<p><%= @motorcycle.price %></p>
<p><%= @motorcycle.description %></p>
<p><%= @motorcycle.license_plate %></p>
