<div class="caroussel">
  <% @motorcycle.photos.each do |photo| %>
    <div class="caroussel-item">
      <%= cl_image_tag photo.path %>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <h1><%= @motorcycle.name %></h1>
      <h4>Owned by <%= @motorcycle.user.first_name %> <%= @motorcycle.user.last_name %></h4>
      <p><%= @motorcycle.description %></p>
      <p><%= @motorcycle.model %> | <%= @motorcycle.brand %> | Manufactured in <%= @motorcycle.year %></p>
      <p>License plate: <%= @motorcycle.license_plate %></p>
      <hr>
      <p>Located at: <%= @motorcycle.address %>, <%= @motorcycle.city %></p>
    </div>
    <div class="col-xs-12 col-md-3">
      <!-- Booking form -->
      <%= render 'reservations/form' %>
      <hr>
    </div>
  </div>
</div>
