<div class="navbar">
  <%= link_to root_path do %>
    <%= image_tag "logo-white.png", id: "logo-white", class: "logo no-display" %>
    <%= image_tag "logo-black.png", id: "logo-dark", class: "logo" %>
  <% end %>

  <!-- Code for avatar + dropdown or, when not logged in, log in / sign up -->

  <div id="user-controls">
    <% if user_signed_in? %>
      <!-- signed in user -->
      <div class="dropdown">
        <%= image_tag current_user.facebook_picture_url, class: "dropdown-toggle", id: "avatar", data: { toggle: "dropdown" } %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><h2><%= current_user.first_name %> <%= current_user.last_name %></h2></li>
          <li><%= link_to "Profile", profiles_index_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    <% else %>
      <!-- not signed in -->
      <p>
        <%= link_to "log in ", new_user_session_path %>
        //
        <%= link_to " sign up", new_user_registration_path %>
      </p>
    <% end %>
  </div>
</div>
