<div class="navbar">
  <%= image_tag "logo-white.png", id: "logo" %>

  <!-- Code for avatar + dropdown or, when not logged in, log in / sign up -->

  <div id="user-controls">
    <% if user_signed_in? %>
      <!-- signed in user -->
      <div class="dropdown">
        <%= image_tag "avatar.png", class: "dropdown-toggle", id: "avatar", data: { toggle: "dropdown" } %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Profile", user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    <% else %>
      <!-- not signed in -->
      <p>
        <%= link_to "log in ", new_user_session_path %>
        //
        <%= link_to " sign up", new_user_registration_path %>
      </p>
    <% end %>
  </div>
</div>
