<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>OpenRoad</title>

    <%= favicon_link_tag 'favicon.ico' %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <link href="https://fonts.googleapis.com/css?family=Sumana|Roboto:300,400,500|Montserrat" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?key=AIzaSyDnklerkF_nyX5RGxwARSKm_BOFLJHDPfI&libraries=places&callback=initAutocomplete" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>

    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

    <%= yield(:after_js) %>
  </body>
</html>
